In [ ]:
Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd
import numpy as np

In [9]:
df =pd.DataFrame({ 'Studying_Time': [2,3,1,5,3,2],
              'Exam_Scores': [88,100,40,95,90,98]

})

In [10]:
df.cov()

               Studying_Time  Exam_Scores
Studying_Time       1.866667    18.866667
Exam_Scores        18.866667   510.566667

In [11]:
df.corr(method='pearson')

               Studying_Time  Exam_Scores
Studying_Time       1.000000     0.611133
Exam_Scores         0.611133     1.000000

In [ ]:
Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [13]:
df1 =pd.DataFrame({ 'Sleep': [8,6,9,4,3,10],
              'Job_Satisfaction' : [9,7,10,5,4,10]

})

In [14]:
df1.cov()

                     Sleep  Job_Satisfaction
Sleep             7.866667               7.2
Job_Satisfaction  7.200000               6.7

In [15]:
df.corr(method='spearman')

               Studying_Time  Exam_Scores
Studying_Time       1.000000     0.559065
Exam_Scores         0.559065     1.000000

In [ ]:
Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [83]:
hours_exercised = np.random.normal(1,4,50)

In [84]:
bmi = np.random.normal(10,25,50)

In [93]:
df3=pd.DataFrame({'hours_exercised': hours_exercised,
        'bmi': bmi
})

In [94]:
df3.corr('pearson')

                 hours_exercised       bmi
hours_exercised         1.000000  0.227422
bmi                     0.227422  1.000000

In [95]:
df3.corr('spearman')

                 hours_exercised       bmi
hours_exercised         1.000000  0.210852
bmi                     0.210852  1.000000

In [ ]:
Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [98]:
hours_watc = np.random.normal(1,4,50)

In [99]:
 level_of_physical_activity = np.random.normal(1,9,50)

In [101]:
df5 = pd.DataFrame({'hours_watc': hours_watc,
              'level_of_physical_activity':level_of_physical_activity})

In [103]:
df5.corr('pearson')

                            hours_watc  level_of_physical_activity
hours_watc                    1.000000                    0.231588
level_of_physical_activity    0.231588                    1.000000

In [ ]:
Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [3]:
Age = [25, 
42, 
37,
19,
31,
28]
Soft_drink = ['Coke','Pepsi','Mountain dew','Coke','Pepsi','Coke']

In [4]:
df6 = pd.DataFrame({'AGE':Age,
                   'SOFT_DRINKS':Soft_drink})

In [5]:
df6.cov()

/tmp/ipykernel_70/2921722195.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df6.cov()

           AGE
AGE  68.666667

In [6]:
df6.corr('pearson')

/tmp/ipykernel_70/301754112.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df6.corr('pearson')

     AGE
AGE  1.0

In [ ]:
Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [13]:
 sales_calls_made_per_day = np.random.randint(1,30,30)

In [15]:
sales_calls_made_per_week = np.random.randint(1,4,30)

In [18]:
df7 = pd.DataFrame({'sales_calls_made_per_day' : sales_calls_made_per_day,
             'sales_calls_made_per_week': sales_calls_made_per_week})

In [19]:
df7.corr('pearson')

                           sales_calls_made_per_day  sales_calls_made_per_week
sales_calls_made_per_day                   1.000000                  -0.376585
sales_calls_made_per_week                 -0.376585                   1.000000